.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #000000aa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #191a2a 0%, #12100e 100%);
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em #000000aa;
}

.modalCloseBtn{
    position: absolute;
    border: none;
    background: none;
    top: 0.5rem;
    right: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: larger;
}