.carouselItem{
    display: inline-flex;
    justify-content: center;
    height: 490px;
    color: black;
}

.carouselTitle{
    font-size: 5rem;
}

.carouselImage{
    z-index: 2;
}

.carouselDescription{
    font-size: 1.15rem;
    white-space: normal;
}