/* 
    Meant to create the same format/template
    for each of the pages within the website

    Each page will also have its own css, but
    mainly for each of the content that appears
*/

:root{
    --hoverColor: red;
}

.pageContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(60%, max-content));
    grid-template-rows: auto;
    grid-gap: 0.8rem;
    grid-template-areas:
    "About Links"
    "News Links"
    "Characters ."
    "Weapons .";
    padding-left: 20%;
    padding-right: 20%;
    .aboutSection{
        grid-area: About;
    }

    h2{
        border-bottom: 0.2rem solid #000;
        padding-bottom: 0.3rem;
    }

    .newsSection{
        grid-area: News;
    }
    
    .linkSection{
        grid-area: Links;
    }

    .characterSection{
        grid-area: Characters;
    }

    .weaponSection{
        grid-area: Weapons;
    }
}


.description{
    margin: 0rem;
    font-weight: normal;
    font-size: 1.3rem;
    /* max-width: 100dvh; */
    margin: auto;
}

.githubLink{
    text-decoration: none;
    color: white;
}

.githubLink:hover{
    color: var(--hoverColor);
    text-decoration: underline;
    transition: 0.5s;
}

.previewSection{
    /* display:grid;
    place-items: center; */
    border: solid 1px;
    border-radius: 1rem;
    max-width: 100%;
    border-style: none;
    background-color: rgb(50, 56, 77);
    padding: 10px;
}

/*For half screen on laptop to realign grid*/
@media only screen and (max-width: 960px){
    .pageContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90%, max-content));
        grid-template-rows: auto;
        grid-template-areas: 
        "previewTemplate" "Links"
        "previewTemplate";
        font-size: 1rem;

        .description, .creditsLink{
            font-size: 1.2rem;
        }
    }

    .linkSection{
        display: none;
    }

    /*For mobile screen */
    @media only screen and (max-width: 490px){
        .pageContainer{
            grid-template-columns: repeat(auto-fill, minmax(70%, max-content));
            grid-template-rows: auto;
            font-size: 1rem;
        }

        h2{
            font-size: 1.6rem;
        }
        

        .description, .creditsLink{
            font-size: 1rem;
            max-width: 30dvh;
        }
    }
}

