/* 
    Meant to create the same format/template
    for each of the pages within the website

    Each page will also have its own css, but
    mainly for each of the content that appears
*/

:root{
    --hoverColor: red;
}

.pageContainer{
    padding-top: 3rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(80%, max-content));
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-auto-flow: row;
    min-height: 70vh;
    min-height: 70dvh;
    min-width: 65vh;
    min-width: 65dvh;
    grid-template-areas: 
    "previewTemplate Links"
}

.description, .creditsLink{
    margin: 0rem;
    font-weight: normal;
    font-size: 1.5rem;
    max-width: 100dvh;
    margin: auto;
}

.githubLink{
    text-decoration: none;
    color: white;
}

.githubLink:hover{
    color: var(--hoverColor);
    text-decoration: underline;
    transition: 0.5s;
}

.previewSection, .linkSection{
    text-align: center;
    border: solid 1px;
    border-radius: 0.5rem;
    border-style: none;
    background-color: rgba(23, 23, 23, 0.5);
    padding: 10px;
}

.homeContainer .previewSection{
    grid-area: previewTemplate;
}

/*For half screen on laptop to realign grid*/
@media only screen and (max-width: 960px){
    .pageContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, max-content));
        grid-template-rows: auto;
        min-height: 100vh;
        min-height: 100dvh;
        min-width: 65vh;
        min-width: 65dvh;
        grid-template-areas: 
        "previewTemplate"
        "Links";
        font-size: 1rem;

        .description, .creditsLink{
            font-size: 1.2rem;
        }
    }

    /*For mobile screen */
    @media only screen and (max-width: 490px){
        .pageContainer{
            grid-template-columns: repeat(auto-fill, minmax(70%, max-content));
            grid-template-rows: auto;
            min-height: 80vh;
            min-height: 80dvh;
            min-width: 60vh;
            min-width: 60dvh;
            font-size: 1rem;
        }

        h2{
            font-size: 1.6rem;
        }
        

        .description, .creditsLink{
            font-size: 1rem;
            max-width: 30dvh;
        }
    }
}

