@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carouselItem{
    padding-left: 0%;
    padding-right: 0%;
}

.carouselContainer {
    overflow: hidden;
    animation: 2s fadeInDown;
    margin: 60px 0 60px 0;
    white-space: nowrap;
    position: relative;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes scale {
    to {
        transform: scale(1.2);
    }
}

.carouselContainer:before,
.carouselContainer:after {
    position: absolute;
    top: 0;
    width: 4%;
    height: 100%;
    content: "";
    z-index: 2;
}

.carouselContainer:before{
    left: 0;
    background: linear-gradient(to left, rgb(255, 255, 255, 0), #2d3133)
}

.carouselContainer:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #2d3133)
}

.carouselItems {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.carouselContainer:hover .carouselItems {
    animation-play-state: paused;
}

.carouselItems img {
    height: 30rem;
    margin:0 0 0 0;
}

@media only screen and (max-width: 960px) {
    .carouselItems img {
        height: 20rem;
    }
}