.footerContainer{
  display: flex;
  justify-content: center;
}

.footerContainer footer{
  border: solid;
  border-style: none;
  border-radius: 0.5rem;

  background-color: rgb(50, 56, 77);

  padding-left: 20%;
  padding-right: 20%;
  
  text-align: center;
}


@media only screen and (max-width: 720px){
  .footerContainer{
    font-size: 0.8rem;
  }
}