:root {
    --headerColor: rgb(0, 19, 44);
	--mainColor: #141a2e;
	--mainColorLight: hsl(228, 33%, 50%);
	--secondaryColor: #ff0015;
	--textColor: #ffffff;
}
.header .headerTop{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem 1rem 1rem;
    background-color: var(--headerColor);
    z-index: 1;

    .headerLogo{
        width: 6rem;
    }
    .headerTitle{
        font-size: 1.2rem;
    }
}

.headerNavbar {
    display: flex;
    width: 100%;
    background-color: var(--mainColor);
    color: var(--textColor);
    top: 5.3rem;
    z-index: 1;
    
    .navbar .navLinks{
        display: flex;
        list-style-type: none;
    }

    .navbar .navLinks a{
        color: var(--textColor);
        text-decoration: none;
        margin: 1rem;
        font-size: 1.2rem;
    }

    .navbar .navLinks a:hover{
        color: var(--secondaryColor);
        transition: 0.25s;
        
    }

    .navBtn {
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: var(--textColor);
        visibility: hidden;
        opacity: 0;
        font-size: 1.8rem;
    }
    .headerNavbar > div, .navbar{
        display: flex;
    }
}

/*For half screen on laptop to create sidebar*/
@media only screen and (max-width: 960px){
    .headerNavbar .navBtn {
        visibility: visible;
        opacity: 1;
        padding: 0.2rem 0rem 0rem 5rem;
    }

    .headerNavbar .navbar{
        position: fixed;
        left: -100vh;
        bottom: 0;
        height: 100%;
        width: 23%;
        z-index: 1;
        background-color: var(--mainColor);
        transition: 0.4s
    }
    .headerNavbar .navbar .navLinks{
        font-size: 0.5rem;
        display: block;
        padding-top: 8dvh;
    }

    .headerNavbar .navbar .navLinks a{
        font-size: 1.3rem;
    }

    .headerNavbar .responsive_nav{
        transform: translateX(100vh);
    }

    .navbar .navCloseBtn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.5rem;
    }
    
    /*For mobile screen */
    @media only screen and (max-width: 720px){
        .header .headerTop {
            .headerTitle{
                display: none;
            }
        }

        .headerNavbar .navBtn {
            padding: 0.2rem 0rem 0rem 2rem;
        }

        .headerNavbar .navbar{
            width: 45%;
        }
    }
}
