.searchBarContainer{
    display: flex;
    left: 0.6rem;
    position: relative;
}

.searchBarElement{
    outline: none;
    font-size: 1rem;
    border: solid gray;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    width: 0;
    transition: width .5s;
    background-color: rgb(0, 0, 0);
    color: white;
}

.searchBtn{
    position: absolute !important;
    right: 1.8rem;
    top: 1.2rem;
}

.searchBarElement:focus{
    width: 600px;
}


@media only screen and (max-width: 960px){
    .searchBarElement:focus{
        width: 500px;
    }
}

@media only screen and (max-width: 720px){
    .searchBarContainer{
        right: 0;
    }
    .searchBarElement:focus{
        width: 245px;
    }
}