@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    font-family: "Titillium Web", sans-serif;
}

body{
    background-image: url('website-backgrounds/hsr_map_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* Ensures the background covers the full viewport height */
    /* background-color: rgb(0, 29, 66); */
    color: #ffffff;
    margin: 0px;
    overflow-x: hidden;
}

.errorPage{
    margin: 12rem 0rem 3rem 5rem;
}